<div style="text-align:center">
  <h1>Front-CodeBreaker</h1>
  <h1>
    Andres Arango
  </h1>
</div>
  
  <div style="text-align:center">
    <h2 style="text-align:center">Ingrese el numero secreto</h2>
    <input id="setSecretInput" type="number" style="text-align:center" [(ngModel)]="number">
    <button id="setSecretButton" (click)="setSecret()" style="text-align:center"> Ingrese Secreto</button>
    <p id="response-set-secret">{{response}}</p>
    
  </div>
  
  <div style="text-align:center">
    <h2 style="text-align:center">Adivine el numero</h2>
    <input id="setGuessInput" type="number" style="text-align:center" [(ngModel)]="guess">
    <button id="setGuessButton" (click)="checkGuess()" style="text-align:center"> Ingrese numero</button>
    <p id="response-set-secret">{{guessResponse}}</p>
  </div>